body {
  margin: 0;
  background-color: #1e1e1e;
  color: rgb(255, 255, 255);

  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.08em;
}

h1 {
  text-align: center;
}

/* This will get rid of the float attribute on imgs so that we can go to the next bio */
.clear-float {
  clear: both;
}

/* ------------------ */
/* NAV BAR COMPONENTS */
/* ------------------ */
nav {
  /* position: sticky; */
  top: 0;
}

.nav-container {
  margin: 0;

  justify-content: center;
  color: #ffffff;

  display: flex;

  background-color: #000000;
}

.nav-logo {
    width: 20%;
    height: auto;
}

/* ------------------ */

/* ------------------------ */
/* PROJECTS LIST COMPONENTS */
/* ------------------------ */
.projects-container {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

/* For each project icon */
.projects-container div {
  margin: 5%;
  padding: 8%;

  background-color: #f1f1f1;

  border-style: solid;
  border-width: 5px;
  border-color: #7393B2;
}
/* ------------------------ */

/* ------------------------ */
/* MEET THE TEAM COMPONENTS */
/* ------------------------ */

.headshot {
  margin: 5%;
  margin-left: 10%;
  margin-top: 0;

  float: left;

  width: 16rem;
  height: 16rem;
  object-fit: cover;   /* crops instead of stretching */
  object-position: center;

  border-style: solid;
  border-width: 5px;
  border-color: #8fb3d9;
}

p {
  padding-right: 10%;
}
